<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>727474785846-d508ql185pf6ocmdkq3i3po19n6rfgb5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.727474785846-d508ql185pf6ocmdkq3i3po19n6rfgb5</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>727474785846-uo7hr1jabiunkjla7eataa7dnbi4623o.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCL-OmS9LgImTAlgiSPuBKcEZxEwnicCE8</string>
	<key>GCM_SENDER_ID</key>
	<string>727474785846</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.african.chamber</string>
	<key>PROJECT_ID</key>
	<string>fir-a062a</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-a062a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:727474785846:ios:adcc71c5c4a53adf38d297</string>
</dict>
</plist>